/* Store Component */
/* ========================= */

::selection {
  background: #c2c2c2;
}

/* 2 col grid */
.Store {
  overflow: hidden;
  display: flex;

  height: 100%;
  width: 100%;
  background-color: transparent;

  align-items: center;
  justify-content: center;
}

.StoreTitle {
  font-size: 7.5vh;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: #6b6b6b;

  padding-bottom: 1vh;
}

.CreditsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CreditOption {
  font-size: 3.5vh;
  position: relative;
  height: 20vh;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 16px;
  text-decoration: underline;
  color: #6b6b6b;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Knug {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 20%;
  left: 20%;
}

.CreditOption:hover {
  background-color: #f5f5f5;
}

.CreditOption.selected {
  background-color: #f0f0f0; /* Or any other styling you prefer */
}

.InputField {
  font-size: large;
  margin: 16px;
}

.BuyButton {
  margin: 16px;
}

.BuyButton {
  font-size: 3.5vh;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-decoration: underline;
  color: #6b6b6b;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BuyButton:hover {
  color: #4b4b4b;
}

.PurchaseSection {
  font-size: 5vh;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #4caf50; /* Green color to indicate success */
  text-align: center;

  /* Centering the message */
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PurchaseSection form {
  width: 100%;
  max-width: 400px;
}

.StripeElement {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pay-button {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
